@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  letter-spacing: .6px;
  font-family: 'Poppins', sans-serif !important;
}

* {
  box-sizing: border-box;
}

.center-footer {
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sml-logo {
  height: 1em;
  margin-left: 10px;
}

.hum-btn {
  background-color: inherit !important;
  outline: none !important;
  border: none !important;
}

.hum-btn::after {
  content: none !important;
}

.hum-btn:focus {
  box-shadow: none !important;
}

.dropdown-menu[data-bs-popper] {
  border-radius: 0;
  border: 0;
  display: flex !important;
  justify-content: space-around;
  width: 100%;
  padding: 0 0 1rem 0;
  opacity: 0;
  transition: .5s;
}

.dropdown-menu.show {
  transition: .5s;
  opacity: 1;
}

.dropdown-item {
  width: fit-content;
  padding: .5rem !important;
}

.dropdown-item:hover {
  color: black !important;
  transition: 0.5s linear;
  transform: scale(1.05, 1.05);
  border-radius: 10px;
  background-color: #e9ecef;
}

.nav-link:hover {
  opacity: 0.5;
  transition: 0.4s linear;
}

.badge {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  z-index: 5;
  transition: .5s;
  top: 26%;
}


.badge:hover span {
  visibility: visible;
  animation: fade 1s linear;
}

.badge svg {
  font-size: 1.2rem;
  margin: 14px;
}

.badge span {
  visibility: hidden;
  margin: 0 5px;
  padding: 10px;
  border-radius: 5px;
}

.card {
  transition: 0.2s linear;
}

.card:hover {
  transition: 0.2s linear;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.02, 1.02);
}

@media (max-width:600px) {
  #nav-wrap-con {
    display: none !important;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}